<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="jp.co.molygray.self_introduction_app.mapper.ProfileContentMapper">
  	<select id="selectList" resultType="jp.co.molygray.self_introduction_app.entity.ProfileContent">
  		SELECT *
  		FROM self_introduction.profile_content
  		WHERE profile_id = #{profileId}
  	</select>

  	<select id="selectType" resultType="String">
  		SELECT content_type
  		FROM self_introduction.profile_content
  		WHERE content_id = #{contentId}
  	</select>
  </mapper>