<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="jp.co.molygray.self_introduction_app.mapper.ProfileMapper">
  	<select id="selectExists" resultType="boolean">
  		SELECT EXISTS(
  			SELECT *
  			FROM self_introduction.profile
  			WHERE profile_id = #{profileId}
  		)
  	</select>
  </mapper>